.mainFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 65px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.mainFooter>img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(70%);
}

.activeIcon {
    filter: invert(0%) !important;
}

@media (max-width: 700px) {
    .mainFooter {
        border-radius: 0px;
    }
}